<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>
      {% if page.title == null %}
        {{ site.name }}
      {% else %}
        {{ page.title }} - {{ site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="container">
      <header role="banner">
        <div class="wrap">
          {% if site.logourl != null %}
            <img class="logo" src="{{ site.logourl }}" alt="{{ site.logoalt }}">
          {% endif %}
          <h1 class="site-title"><a class="title-link" href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        </div>
      </header>

      <div class="wrap content">

        {% include sidebar.html %}

        <section id="main" class="main-content" role="main">
          {{ content }}
        </section>

      </div><!-- /.wrap content -->
    </div> <!-- /.container -->
    </body>
</html>
